In [121]:
import os
current_folder = os.getcwd()
print(current_folder)

C:\Users\danis\Desktop\Extraction

In [122]:
import os
files = os.listdir(os.getcwd())
files

['.git',
 '.ipynb_checkpoints',
 'Children Bicycles.json',
 'Children Bicycles.xlsx',
 'Children Bicycles11.csv',
 'collected_data.xlsx',
 'Comfort Bicycles.json',
 'Comfort Bicycles.xlsx',
 'Comfort Bicycles11.csv',
 'Cruisers Bicycles.json',
 'Cruisers Bicycles.xlsx',
 'Cruisers Bicycles11.csv',
 'Cyclocross Bicycles.json',
 'Cyclocross Bicycles.xlsx',
 'Cyclocross Bicycles11.csv',
 'Electric Bikes.json',
 'Electric Bikes.xlsx',
 'Electric Bikes11.csv',
 'extraction from multiple data source.ipynb',
 'Mountain Bikes.json',
 'Mountain Bikes.xlsx',
 'Mountain Bikes11.csv',
 'Road Bikes.json',
 'Road Bikes.xlsx',
 'Road Bikes11.csv',
 '~$collected_data.xlsx']

In [120]:
import os
export(os.listdir(os.getcwd()))

'has been conducted succesfully'

In [116]:

# those are files that's gonna be imported to DataFrame from excel,json and csv data format...

def export(files):
    
    import pandas as pd
    sales = pd.DataFrame()
    
    for file in files:
        if  os.path.join(file).split(".")[-1]=="xlsx":
            df = pd.read_excel(file)
            sales = sales.append(df,ignore_index=True)
            
        
        elif os.path.join(file).split(".")[-1]=="csv":
            df = pd.read_csv(file)
            sales = sales.append(df,ignore_index=True)
            
        elif os.path.join(file).split(".")[-1]=="json":
            df = pd.read_json(file,lines=True)
            sales = sales.append(df,ignore_index=True)
        
        else:
            continue
    sales.to_excel(r"C:\Users\danis\Desktop\Extraction\collected_data.xlsx",index=False)       
    return "has been conducted succesfully"

In [123]:
sales
# this is the dataframe that'll be converted to excel file after extraction from 3 different data formats

,category_id,category_name,product_id,product_name,list_price
0,1,Children Bicycles,21,Electra Cruiser 1 (24-Inch) - 2016,269.99
1,1,Children Bicycles,22,Electra Girl's Hawaii 1 (16-inch) - 2015/2016,269.99
2,1,Children Bicycles,23,Electra Girl's Hawaii 1 (20-inch) - 2015/2016,299.99
3,1,Children Bicycles,83,Trek Boy's Kickster - 2015/2017,149.99
4,1,Children Bicycles,84,Sun Bicycles Lil Kitt'n - 2017,109.99
...,...,...,...,...,...
958,7,Road Bikes,317,Trek Checkpoint ALR 5 - 2019,1999.99
959,7,Road Bikes,318,Trek Checkpoint ALR 5 Women's - 2019,1999.99
960,7,Road Bikes,319,Trek Checkpoint SL 5 Women's - 2019,2799.99
961,7,Road Bikes,320,Trek Checkpoint SL 6 - 2019,3799.99
962,7,Road Bikes,321,Trek Checkpoint ALR Frameset - 2019,3199.99